
:root {
  --tertiary-color: white;
  --text-color: var(--tertiary-color);

}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  height: 100vh;
  background-image: url("../css/images/jr-korpa-7uDkfFwy_V0-unsplash.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center center;
  
 
}

header {
  width: 80%;
  height: 100px;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

header div a {
  color: var(--tertiary-color);
  text-align: center;
  text-decoration: none;
}



main {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 0;
  font-size: 2.5rem;
  color: var(--tertiary-color);
}

.button {
  background-color:#0b3bff;
  color: var(--tertiary-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 20px;
  align-items: center;
}

.hidden {
  display: none;
}


h2{
display: flex;
margin: 20px;
  padding: 10px;
  color: var(--tertiary-color);




}

#options {
  
  margin-bottom: 20px;
  margin-top: 50px;
  padding: 20px;
}

.optionBtn {
  margin: 20px;
  padding: 10px;
  font-size: 20px;
 background-color :#0b3bff;
  color: var(--tertiary-color);
}

#message {
  margin-bottom: 20px;
  font-size: 1.1rem;
  color:var(--tertiary-color);
}

#result {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--tertiary-color);
  border-radius: 10px;
}

#summary {
  margin-bottom: 20px;
  font-size: 1.2rem;
  color: #ff0303;
}

input[type="text"] {
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 1.1rem;
}

#viewScores {
  margin-right: 10px;
}

#saveScore {
  margin-right: 10px;
}

#playAgain {
  background-color:#0b3bff;
  color: var(--tertiary-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}
